* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid #fff;
}

div .p {
  color: #fff;
  font-size: 30px;
  font-family: monospace;
  font-weight: 300;
  letter-spacing: 3px;
  z-index: 100;
}

.menu-icono i {
  background-color: #fff;
}

.menu-icono img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.menu-icono,
#check {
  display: none;
}

.nav-menu ul {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-right: 3rem;
}

.nav-menu li a {
  font-size: 1.5rem;
  color: #fff;
  text-transform: capitalize;
}

.nav-menu li a:hover {
  color: aqua;
  transition: all 0.7s;
}

/*Menu responsivo */
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }

  .menu-icono {
    display: block;
    position: fixed;
    top: 15px;
    right: 50px;
  }

  .nav-menu ul {
    display: block;
    position: fixed;
    top: 66px;
    left: -100%;
    background: rgb(34, 34, 34);
    width: 100%;
    height: 100vh;
    right: 0;
    transition: all 0.5s;
    z-index: 100;
  }

  .nav-menu ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* About me*/
.section-about {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  border: 1px solid rebeccapurple;
  background-color: #222;
  color: #fff;
  display: flex;
}

.section-about article {
  height: auto;
}

.info_profile {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

.info_profile h1 {
  font-size: 2.1rem;
  font-weight: 300;
  text-transform: capitalize;
  margin: 0;
  color: #fff;
  padding-top: 20px;
}

.info_profile .p1 {
  font-family: monospace;
  font-size: 1.4rem;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  top: 6px;
  white-space: nowrap;
  border-right: 4px solid;
  width: 21ch;
  margin: auto;
  animation: typing 2s steps(19), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.info_profile p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 25px;
  position: relative;
  top: 10px;
  padding: 10px;
}

.redes-sociales {
  display: flex;
  justify-content: center;
}

.redes-sociales ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.redes-sociales li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  border-radius: 50%;
  transition: 0.2s all;
}

.redes-sociales ul:hover a {
  filter: blur(2px);
}

.redes-sociales ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  filter: none;
}

.redes-sociales ul li .instagram:hover {
  background: #833ab4;
}

.redes-sociales ul li .linkedin:hover {
  background: #0e76a8;
}
